.header {
  background-color: lightgreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}
.btn {
  background-color: yellow;
  color: black;
}